<h2>Bienvenido: {{user.username}}</h2><br>
<br>
<br>
<br>



<ul class="nav nav-pills nav-justified">
  <li class="nav-item"><a id="first" class="nav-link" data-toggle="tab" href="#feelings">Mis Feelings</a></li>
  <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#comments">Mis comments en Feelings</a></li>
</ul>
<br>
<br>
<br>
<div class="tab-content">

  <div id="feelings" class="tab-pane fade in active">  
      <h2 class="text-center">Mis Feelings:</h2>
      <br>
      <br>

      {{#each userFeelings}}
      <div class="container flex">
          <div class="col-sm-6">
            <img class="card-img-top imgProfile rounded mx-auto d-block" src="{{this.feelingImagePath}}" alt="image" >
          </div>
          
          <div class="row text-center">      
            <div class="col-sm-12">
              <h4>Titulo:</h4>
              <p>{{this.title}}</p>
            </div> <br><br>     
            <div class="col-sm-12">
              <h4>Feeling:</h4>
              <p>{{this.feeling}}</p>
            </div>
              <div class="col-sm-4 text-center">
                <a class="btn btn-outline-danger btn-block" href="/feelings/delete/{{_id}}" class="card-link">Borrar</a>
              </div>
              <div class="col-sm-4 text-center">
                <a class="btn btn-success btn-block"  href="/feelings/edit/{{_id}}" class="card-link">Editar</a>
              </div>
              <div class="col-sm-4 text-center">
                <a class="btn btn-primary btn-block"  href="/feelings/{{_id}}" class="card-link">Detalle</a>
              </div>
          </div>
      </div>
    {{/each}}
  </div>
  <div id="comments" class="tab-pane fade">  
      <h2 class="text-center">Mis Comments en Feelings:</h2>
      <br>
      <br>
    {{#each userComments}}
          <div class="container flex">
            <div class="row text-center">      
              <div class="col-sm-12">
                <h4>Comment en el Feeling:</h4>
                <p>{{this.feelingId.title}}</p>
              </div> <br><br>     
              <div class="col-sm-12">
                <h4>Comment:</h4>
                <p>{{this.comment}}</p>
              </div>
                <div class="col-sm-4 text-center">
                  <a class="btn btn-outline-danger btn-block" href="/comments/delete/{{_id}}" class="card-link">Borrar Comentario</a>
                </div>
                <div class="col-sm-4 text-center">
                  <a class="btn btn-success btn-block"  href="/comments/edit/{{_id}}" class="card-link">Editar Comentario</a>
                </div>
                <div class="col-sm-4 text-center">
                  <a class="btn btn-primary btn-block"  href="/feelings/{{feelingId._id}}" class="card-link">Ir al Feeling</a>
                </div>
            </div>
      </div>
    {{/each}}
  </div>
</div>

<script>
  window.onload = () => {
    document.querySelector("#first").click();
  }
</script>