  
  <h1 class="my-4 text-center">{{title}}</h1>
  <br>
  <div class="row">

    <div class="col-md-8">    
      <img class="img-fluid rounded mx-auto d-block tam" src="{{feelingImagePath}}" alt="image" >
    </div>

    <div class="col-md-4">
      <h3 class="my-3">Descripcion: </h3>
      <p>{{feeling}}</p>
      <br>
      <p class="font-weight-light">Feeling por: <strong>{{userId.username}}</strong> - <u>{{formatDate createdAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</u> </p>
    </div>
  </div>
<hr>
<br>
<div class="row">
      <div class="col-sm-12 text-center">
        {{#if user}}        
        <a href="/comments/add/{{this._id}}" class="btn btn-primary ">Agrega un comentario</a>
        {{else}}        
        <a href="/auth/login" class="btn btn-primary">Login para postear un comentario</a>
        {{/if}}
      </div>
</div>
<br>
<hr>
<br>
<div class="row">
      <div class="col-sm-12">
        <h4>Comentarios</h4>
      </div>
      <br><br>
    {{#each commentsId}}
      <div class="col-sm-12 colBorder">
        <p class=" lead">{{this.comment}}</p>
        <p class="font-weight-light">Comentado por: <strong>{{this.userId.username}}</strong> - <u>{{formatDate this.createdAt "dddd, MMMM Do YYYY, h:mm:ss a"}}</u> </p>
      </div>
    {{/each}}

</div>